.idea
.history/*
.failedspecs/failed_specs.txt
node_modules
cypress/videos/*
cypress/downloads/*
cypress/logs/*
cypress/screenshots/*
cypress-visual-report/*
cypress-visual-screenshots/comparison/*
cypress-visual-screenshots/diff/*
cypress-visual-screenshots/baseline/*
mochawesome-report/*
runner-results/*
cypress/results/*.json
allure-results/*
!allure-results/categories.json

allure-results-failed/*
allure-report/*
cypress/parallel-weights.json
